@import "tailwindcss";

@theme {
  --animate-spin-slow: spin 10s linear infinite;
  --animate-scroll-up: scrollUp 10s linear infinite;
  
  @keyframes scrollUp {
    0% { transform: translateY(100%); }
    100% { transform: translateY(-100%); }
  }
}
